body{
    background-image:url(/Happy-Diwali-Fire-Crackers-Images-1.jpg) ;
    align-items: center;
    justify-items: center;
}
h1{
    font-size: 10rem;
    color:darksalmon;
    margin-left: 5rem;
}